body {
  background: #111;
  background-size: 0.2em 100%;
  font: 2em/1 Open Sans, Impact;
  text-transform: capitalize;
  margin: 0;
}
html,
body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  color: yellow;
}
i {
  cursor: pointer;
}
